ikfast @ git+https://github.com/isc-bit-busters/ur3e-ik.git
urbasic @ git+https://github.com/6figuress/ur3e-control.git
security @ git+https://github.com/isc-bit-busters/SecurityModule.git
simulator @ git+https://github.com/isc-bit-busters/phys_simulator.git
spade==3.3.3